.notfound-container {
    padding-top: 6%;
    display: flex
}

.notfound-msg {
    border: 2px solid darkmagenta;
    margin: 5%;
    text-align: center;
    border-radius: 10px;
    padding: 5%;
}

@media (max-width: 980px) {
    .notfound-container {
        padding-top: 25%;
        display: flex;
        flex-direction: column;
    }

    .notfound-container img {
        width: 400px;
    }

    .notfound-msg {
        border: 2px solid darkmagenta;
        margin: 5%;
        text-align: center;
        border-radius: 10px;

    }