.joblist-container{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}
.joblist-header {
    text-align: center;
}
.joblist-cart{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    justify-content: center;
}
.joblist-box{
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 20px;
    margin: 1%;
}
.joblist-data img{
    height: 100px;
    width: 200pxpx;
}
.joblist-data span{
    display: flex;
    flex-direction: row;
}
.joblist-data span p{
    color: gray;
    margin-right: 30px;
}
.joblist-data h3{
    color: lightgray;
}
.apply-btn{
    border: 1px solid #c84be7;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
}
.apply-btn:hover{
    background-color: #c84be7;
    transition: .4s ease-in-out;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 980px) {
    .joblist-cart{
        display: flex;
        flex-direction: column;
        margin: 38px;
    }
    .joblist-box{
        border: 3px solid rgb(178, 178, 178);
        border-radius: 5px;
        padding: 20px;
        margin: 1%;
        text-align: center;
    }
    .joblist-box:hover{
        border: 3px solid purple;
        transition: .6s ease-in-out;
    }
    .joblist-data img{
        height: 100px;
        width: 250px;
    }
    .joblist-data span{
        display: flex;
        flex-direction: row;
    }
    .joblist-data span p{
        color: gray;
        margin-right: 30px;
    }
    .joblist-data h3{
        color: lightgray;
    }
    .apply-btn{
        background-image: linear-gradient(90deg, rgb(231, 13, 187), #c84be7);
        padding: 5px;
        color: white;
        width: 100%;
        height: 32px;
    }
    .apply-btn:hover{
        background-image: linear-gradient(90deg, #c84be7, rgb(231, 13, 187));
    }
}