.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    font-size: x-large;
    margin-left: 15%;
    margin-right: 15%;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
}

.nav-link {
    margin: 30px;
}

.nav-link a {
    margin-inline-start: 30px;
    text-decoration: none;
    font-size: smaller;
}

.notice-bar {
    display: flex;
    margin-top: 10%;
    margin-left: 7%;
    color: #fff;
    background-image: linear-gradient(90deg, #fff, #000, #000, #000, #000, #fff);
    border: 3px solid purple;
    border-radius: 20px;
    width: 85%;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    justify-content: space-between;
    background-image: linear-gradient(90deg, white, #cfd7dc, #fff);
}

.header-text {
    font-size: xx-large;
}

.header-text p {
    font-size: smaller;
}

.header-img img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 980px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
    }

    .nav-link {
        display: none;
    }

    .button {
        border-radius: 10px;
        font-size: medium;
    }

    .notice-bar {
        margin-top: 30%;
        margin-left: -5%;
        width: 108%;
        border-radius: 0;
    }

    .header-container {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        justify-content: space-between;
        background-image: linear-gradient(90deg, white, #e3e5e8, #fff);
    }

    .header-text {
        font-size: x-large;
        text-align: center;
    }

    .header-text p {
        font-size: small;
        text-align: center;
    }

    .header-img img {
        height: 420px;
        width: 100%;
        margin-top: 10%;
    }
}