#root {
    margin: 0%;
}

.footer-container {
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 8%;
    justify-content: center;
}

.footer-info {
    display: flex;
    flex-direction: row;
}


.footer-links {
    display: flex;
    flex-direction: column;
    margin: 1%;
    font-weight: 50;
    width: 20%;
}

.footer-links img {
    height: 100px;
    width: 100px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    padding-top: 10%;
}
.footer-credit{
    border-top: 1px solid gray;
    margin-top: 40px;
}
.footer-credit-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color: rgb(99, 99, 99);
}
.footer-second-credit{
    margin-top: 1%;
}

@media (max-width: 980px) {
    .footer-container {
        padding: 5%;
    }
    
    .footer-info {
        display: flex;
        flex-direction: column;
    }
    
    .footer-links {
        width: 100%;
    }
    
    .footer-links img {
        height: 200px;
        width: 200px;
    }
    
    .footer-links a {
        padding-top: 2%;
    }
    .footer-credit{
        margin-top: 20px;
    }
    .footer-credit-info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}